html {
    background-color: gray;
}
.mainTitle {
    text-align: center;
    font-size: 50px;
}

#titleDiv {
    text-align: center;
    padding: 2px;
    background-color: lightblue;
    display: inline-flex;
    width: 100%;
}

#workoutDiv {
    display: inline;
}

h1{
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
}

#logo {
    height: 100px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.exercise {
    height: 75px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: blue;
}

#logIn {
    text-align: right;
}

div.row {
    float: left;
    transition-duration: 1s;
}

div.row:hover {
    transform: rotateZ(360deg);
}

div.comment {
  width: 70%;
  font-size: 18px;
  text-align: left;
  padding: 5px 5px 20px 5px;
  margin: 10px;
  float: left;
  background-color: lightblue;
  border-radius: 5px;
  border: 1px solid black;
}

div.reply {
  width: 90%;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  margin: 0px 0px 0px 20px;
  float: left;
  background-color: lightgray;
  border-radius: 5px;
  border: 1px solid black;
}

div.card {
    background-color: lightblue;
    color:blue;
    border-radius: 5px;
    margin: 50px;
    width: 150px;
    height: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  div.comment {
  width: 70%;
  font-size: 18px;
  text-align: left;
  padding: 5px 5px 20px 5px;
  margin: 10px;
  float: left;
  background-color: lightblue;
  border-radius: 5px;
  border: 1px solid black;
}

div.reply {
  width: 90%;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  margin: 0px 0px 0px 20px;
  float: left;
  background-color: lightgray;
  border-radius: 5px;
  border: 1px solid black;
}

  div.menuCard {
    background-color: lightblue;
    color:black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 450px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  div.aboutCard {
    background-color: lightblue;
    color:black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 1400px;
    height: 425px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    padding-top: 20px;
    padding-bottom: 35px;
  }
